# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
ENV/

# VS Code
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db

# PyCharm
.idea/

# Logs
*.log

# Test and coverage outputs
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover
.cache

# MyPy
.mypy_cache/
.dmypy.json

# Pyre type checker
.pyre/

# Others
*.swp
*.bak
*.tmp

# Ignore Encadenamiento_trasero if needed
# Encadenamiento_trasero/__pycache__/
# Encadenamiento_trasero/*.pyc
